.about-section {
    padding: 40px;
    text-align: center;
  }
  .about-content {
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-top: 20px;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .carousel-inner{
    margin-top: 30px;
  }
  .card {
    border: 1px solid #ddd;
    width: 40%;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card h6{
    color: rgb(101, 219, 82);
  }
  .call-to-action {
    margin-top: 30px;
  }
  .links{
text-decoration: none;
color: black !important;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }
  