.cartitems {
  /* margin: 100px 170px; */
}
.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}
.cartitems-formt-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: 75px;
  gap: 100px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.cartitems-formt-main p{
  color: black;
}
.counter{
  display: flex !important;
  justify-content: center;
  gap: 10px;
}
.counter button{
  max-height: 30px;
  max-width: 30px;
  background: white !important;
}
.quantity{
  align-items: center;
  justify-content: center;
}
.remove-cart-items{
  max-height: 30px;
  color: antiquewhite;
  /* max-width: 30px; */
  border: none;
  background: red !important;
}